#toastPopupA{
    position: fixed;
    width: 90%;
    max-width: 420px;
    min-height: 280px;
    top:100px;
    left:50%;
    transform: translateX(-50%);
    z-index: 2006;
    transition: all .4s;

    &.toastHide{
        transition: all .5s;
        display: none;
    }
    &.toastShow{
        display: block;
        transition: all .1s;
    }

    .contents_wrap{
        background-color: #fff;
        border:1px solid #eaeaea;
        box-shadow: 0 0 30px #eaeaea;
        border-radius: 16px;
        margin:0 auto;
        position: absolute;
        bottom:0;
        padding:0px;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        height:310px;
        .title{
            font-size: 5vw;
            text-align: center;
            height:60px;
            line-height: 60px;
        }
        .text{
            left:0;
            text-align: center;
            overflow-y: scroll;
            height:350px;
            overflow-y: scroll;
            &::-webkit-scrollbar {width: 6px;}
            &::-webkit-scrollbar-track {background: transparent; }
            &::-webkit-scrollbar-thumb {background: #333;}
            &::-webkit-scrollbar-thumb:hover {background: #333;}
            pre{
                font-size: 4vw;
                line-height: 1.3;
            }
        }
        .title-sub{
            font-size: 30px;
            line-height: 130%;
            padding:36px 0;
        }
        .text-list{
            li{
                font-size: 18px;
                line-height: 140%;
                &::before { content: '\2219'; margin-right: .3em; }
            }
        }
    }
    .button_wrap{
        position: absolute;
        bottom:0;
        width:100%;
        border-radius: 0 0 16px 16px;
        overflow: hidden;
        .button_list{
            width: 100%;
            display: flex;
            flex-wrap: row wrap;
            justify-content: center;
            align-items: center;
            >li{width:50%;}
            input{
                border:none;
                outline: none;
                width:100%;
                height:35px;
                background:#888;
                color:#fff;
                font-size: 14px;
                box-sizing: border-box;
                cursor: pointer;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                &.btn_close{}
                &.btn_week_close{border-left:1px solid #fff;}
            }
        }
    }

    a.btn_more_view{
        display: block;
        width:90%;
        margin:0 auto;
        background:#333;
        border-radius: 8px;
        height:40px;
        line-height:40px;
        text-align: center;
        color:#fff;
        position: absolute;
        bottom:50px;
        left:50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 380px) {
    .title{
        font-size: 4vw !important;
    }
    pre{
        font-size: 3vw !important;
    }
}
@media (min-width: 580px) {
    .title{
        font-size: 26px !important;
    }
    pre{
        font-size: 18px !important;
    }
}

/*공지사항 안내*/
#boardNotice{
    padding:30px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    width:96%;
    margin:10px auto;
    >h3.title{
      font-size: 26px;
      margin:5px 0;
      font-weight: bold;
      text-align: left;
      width: 100%;
    }
    p{
      font-size: 16px;
      margin:10px 0;
    }
    ul{
      margin: 20px 0 0 0;
      li{
        margin:5px 0;
        strong{
          display: block;
          margin:20px 0;
        }
      }
    }
    h3{text-align: right;}
    input[type=button]{
        outline: none;
        background-color: #000;
        color:#fff;
        padding:5px 20px;
    }
  }


/*팝업스타일추가*/
#toastPopupB{
    position: fixed;
    width: 90%;
    max-width: 420px;
    min-height: 280px;
    top:100px;
    left:50%;
    transform: translateX(-50%);
    z-index: 2006;
    transition: all .4s;

    &.toastHide{
        transition: all .5s;
        display: none;
    }
    &.toastShow{
        display: block;
        transition: all .1s;
    }

    // .back{
    //     position: absolute;
    //     left:0; top:0;
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: rgba(0,0,0,0);
    // }
    .contents_wrap{
        background-color: #fff;
        border:1px solid #eaeaea;
        box-shadow: 0 0 30px #eaeaea;
        border-radius: 16px;
        margin:0 auto;
        position: absolute;
        bottom:0;
        padding:0px;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        .title{
            font-size: 24px;
            text-align: center;
            height:60px;
            line-height: 60px;
        }
        .text{
            left:0;
            text-align: center;
            overflow-y: scroll;
            height:250px;
            overflow-y: scroll;
            padding:10px 20px;
            box-sizing: border-box;
            &::-webkit-scrollbar {width: 6px;}
            &::-webkit-scrollbar-track {background: transparent; }
            &::-webkit-scrollbar-thumb {background: #333;}
            &::-webkit-scrollbar-thumb:hover {background: #333;}
            font-size: 14px;
            .left{
                text-align: left;
                font-weight: bold;
                width: 100%;
            }
        }
    }
    .button_list{
        position: absolute;
        top:10px;
        right:5%;
        input{
            border:none;
            outline: none;
            width:100%;
            height:35px;
            background:transparent;
            color:#fff;
            font-size: 14px;
            box-sizing: border-box;
            cursor: pointer;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            &.btn_close{color:#666; font-size: 24px;}
            // &.btn_week_close{border-left:1px solid #000;}
        }
    }

    a.btn_more_view{
        display: block;
        width:90%;
        margin:0 auto;
        background:#333;
        border-radius: 8px;
        height:40px;
        line-height:40px;
        text-align: center;
        color:#fff;
        position: absolute;
        bottom:50px;
        left:50%;
        transform: translateX(-50%);
    }
}
