@charset "UTF-8";
@import url(../font/shinhan_font.css);
/* icon */
/** 제이쿼리 컴포넌트용 **/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* .mfp-close { width: 44px; height: 44px; line-height: 44px; position: absolute; right: 0; top: 0; text-decoration: none; text-align: center; opacity: 0.65; padding: 0 0 18px 10px; color: #FFF; font-style: normal; font-size: 28px; font-family: Arial, Baskerville, monospace; } .mfp-close:hover, .mfp-close:focus { opacity: 1; } .mfp-close:active { top: 1px; } */
.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) { /** Remove all paddings around the image on small screen */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.4;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.barcode {
  float: left;
  clear: both;
  padding: 0; /*quiet zone*/
  height: 0.5in; /*size*/
}

.right {
  float: right;
}

.barcode + * {
  clear: both;
}

.barcode div {
  float: left;
  height: 0.35in; /*size*/
}

.barcode .bar1 {
  border-left: 1px solid black;
}

.barcode .bar2 {
  border-left: 2px solid black;
}

.barcode .bar3 {
  border-left: 3px solid black;
}

.barcode .bar4 {
  border-left: 4px solid black;
}

.barcode .space0 {
  margin-right: 0;
}

.barcode .space1 {
  margin-right: 1px;
}

.barcode .space2 {
  margin-right: 2px;
}

.barcode .space3 {
  margin-right: 3px;
}

.barcode .space4 {
  margin-right: 4px;
}

body {
  background-color: transparent;
}

/** layout & contents **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0 none;
}

input, select, textarea, button {
  vertical-align: middle;
}

input::-ms-clear {
  display: none;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

img {
  vertical-align: middle;
}

/** common **/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, th, td, input, select, textarea, button {
  line-height: normal;
  font-family: "ShinhanCard", "Noto Sans KR", "맑은 고딕", SDNeoGothic, SDGothicNeo, "돋움", "dotum", sans-serif;
  color: #333; /*letter-spacing: -.025em;*/
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  font-size: 14px;
  font-family: "ShinhanCard", "Noto Sans KR", "맑은 고딕", SDNeoGothic, SDGothicNeo, "돋움", "dotum", sans-serif;
  line-height: 1.4; /*letter-spacing: -.5px;*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background: #fff;
}

/* basic */
.show {
  display: block;
}

.hide {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.screen-out {
  position: absolute !important;
  width: 1px;
  height: 1px;
  font-size: 0;
  text-indent: -10000px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.txtbr {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.nowrap {
  white-space: nowrap;
}

.txt-point {
  color: #4868e1 !important;
}

/* 본문바로가기 */
/* .index {position: relative; width: 100%; z-index: 101;}
.accessibility{display:block; font-size:1.3em; left:0; position:absolute; text-align:center; top:-10000px; width:100%; z-index:910;}
a.accessibility:hover,
a.accessibility:focus,
a.accessibility:active{background-color:$secondary-color-2; color:$color-white; font-weight:bold; padding:15px 0; position:absolute; top:0; z-index:910;} */
/*** form reset ***/
/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Reset `button` and button-style `input` default styles */
input[type=submit], input[type=reset], input[type=button], button {
  background: none;
  border: 0;
  color: inherit; /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type=button]:disabled, button:disabled {
  background-color: #e7e7e7 !important;
}

button, select, input[type=radio], input[type=submit], input[type=search] {
  overflow: visible;
  font-size: 14px;
  cursor: pointer;
  border: 0px;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}

:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

/* link Style */
a {
  color: #4868e1;
  text-decoration: none;
}

a:hover {
  color: #4868e1;
  opacity: 0.8;
}

a, button {
  cursor: pointer;
}

/* a:focus, input:focus, button:focus, textarea:focus, select { @extend %focus; } */
a:focus, input:focus, button:focus, textarea:focus, select {
  outline: 0;
}

/*** 요약용 아코디언 UI ***/
.accordion-wrap {
  margin: 0 auto;
  padding: 0 18px 10px 18px;
  max-width: 1024px;
  line-height: 1.4;
}

.accordion-wrap.bottom {
  padding-bottom: 70px;
}

.accordion-wrap .accordion-area {
  color: #666;
}

.accordion-wrap .accordion-area:last-child, .accordion-wrap .accordion-area.bottom {
  border-bottom: 1px solid #e1e1e1;
}

/* 아코디언 제목 */
.accordion-title {
  padding: 12px;
  border-top: 1px solid #e1e1e1;
  background: url(../images/icon_pageDown2.png) no-repeat;
  background-size: 18px 10px;
  background-position: right 12px top 50%;
  cursor: pointer;
}

.accordion-title.first {
  border-top: 1px solid #e1e1e1;
}

.accordion-title.active {
  border-top: 1px solid #000;
  background-image: url(../images/icon_pageUp2.png);
}

.accordion-title:focus {
  outline: none;
}

.accordion-title.active .maintitle, .accordion-title.active .subtitle {
  color: #000 !important;
}

.accordion-title.active .date {
  color: #d1d1d1 !important;
}

.accordion-title .maintitle {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  color: #333;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5em;
}

.accordion-title .maintitle .new {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 11px;
  height: 11px;
  line-height: 0;
  text-indent: 100%;
  overflow: hidden;
  color: transparent;
  background: url(../images/icon_new.png) no-repeat;
  background-size: contain;
}

.accordion-title .date {
  display: block;
  margin-top: 8px;
  width: 100%;
  font-size: 0.85rem;
  text-align: left;
  color: #8a8b92;
  font-weight: 300;
}

.accordion-title .subtitle {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  color: #202125;
  font-weight: 400;
}

/* 아코디언 본문 */
.accordion-content {
  display: none;
  padding: 0 16px 16px 16px;
  font-size: 0.85rem;
  line-height: 1.5;
  background: #fff;
}

.accordion-content .inner-title {
  font-size: 0.875rem;
  color: #555;
  padding-top: 20px;
}

.accordion-content .svctb {
  margin: 0;
  width: 100%;
  border-top: 2px solid #000;
}

.accordion-content .svctb thead th {
  padding: 13px 10px;
  background: #f6f6f6;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #666;
  text-align: center;
  font-weight: 400;
  vertical-align: middle;
}

.accordion-content .svctb tbody td {
  padding: 13px 10px;
  margin: 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
  color: #666;
  font-weight: 400;
  vertical-align: middle;
  font-size: 0.8rem;
}

.accordion-content .svctb thead th:last-child {
  border-right: none;
}

.accordion-content .svctb tbody td:last-child {
  border-right: none;
}

.accordion-content .svctb tbody td .top {
  padding-top: 10px;
}

.accordion-content .svctb tbody td .bottom {
  padding-bottom: 10px;
}

.accordion-content .svctb tbody td .bold {
  color: #222;
  font-weight: 400;
}

.accordion-content .svctb tbody td.th_title {
  color: #222;
  text-align: center;
  font-weight: 700;
  line-height: 1.5em;
}

/* FAQ용 */
.faq_quantity {
  color: #666;
  margin-bottom: 10px;
}

.faq_quantity .quantity {
  font-weight: 700;
  color: #0B1965;
}

.accordion-title-faq {
  padding: 12px;
  border-top: 1px solid #e1e1e1;
  background: url(../images/icon_faqDown.png) no-repeat;
  background-size: 18px 18px;
  background-position: right 10px top 50%;
  cursor: pointer;
}

.accordion-title-faq .maintitle {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  color: #333;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5em;
}

.accordion-title-faq.first {
  border-top: 1px solid #e1e1e1;
}

.accordion-title-faq.active {
  background-image: url(../images/icon_faqUp.png);
}

.accordion-title-faq:focus {
  outline: none;
}

.accordion-title-faq.active .maintitle {
  color: #000 !important;
}

.accordion-title.active .subtitle {
  color: #000 !important;
}

.accordion-title-faq.active .date {
  color: #d1d1d1 !important;
}

.faq_more {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px 0 0 0;
  position: relative;
}

.faq_more .btn_more {
  width: 160px;
  height: 32px;
  font-size: 0.875rem;
  text-align: center;
  color: #7d7d81;
}

.faq_more .btn_more span {
  padding-right: 20px;
  background: url(../images/icon_link_more.png) no-repeat right;
  background-size: 12px auto;
}

.mark_question {
  color: #4868e1;
  font-weight: 900;
  display: inline-block;
  margin-right: 3px;
}

.mark_answer {
  color: #333;
  font-weight: 900;
  display: inline-block;
  margin-right: 3px;
}

.faq_answer_view {
  background: #f6f6f6;
  padding-top: 16px;
}

/* etcpage header */
.etcpage-wrap {
  padding: 0;
  line-height: 1.4;
}

.etcpage-wrap .header .logo_top {
  margin: 0;
  padding: 20px 0 20px 20px;
  font-size: 0;
  line-height: 0;
  background: #fff;
  vertical-align: middle;
}

.etcpage-wrap .header .subject {
  margin-top: 10px;
  text-align: center;
  font-size: 26px;
  color: #000;
  font-weight: 700;
}

.etcpage-wrap .header .subject .sh_tit {
  display: block;
  color: #0B1965;
  font-size: 15px;
}

.etcpage-wrap .terms-side {
  padding: 0 20px 20px 20px;
}

.etcpage-wrap h2 {
  margin: 20px 0 10px;
  font-size: 16px;
  font-weight: 600;
}

.etcpage-wrap ol li {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
  line-height: 1.5em;
}

.terms-wrap ul li, .terms-wrap p {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
  line-height: 1.5em;
}

/* footer */
.footer-wrap {
  padding-bottom: 52px;
  text-align: center;
  background: #FFF;
  border-top: 5px solid #F2F2F2;
}

.footer-wrap .address {
  padding: 18px;
  font-size: 12px;
  color: #666;
}

.footer-wrap .address .copyright {
  margin-top: 10px;
}

.footer-cscenter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e9e9e9;
}

.footer-cscenter .cscenter {
  padding: 10px 18px;
  font-size: 12px;
  text-align: center;
  color: #666;
}

.footer-cscenter .cscenter .csblack {
  font-weight: 700;
  color: #333;
}

.footer-cscenter .cscenter .callcenter {
  color: #4868e1;
  font-weight: 700;
}

a.call_tel {
  color: #4868e1;
}

/* header */
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  width: 100%;
  height: 55px;
  background: #FFF;
  z-index: 800;
}

.header-wrap .h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
  text-align: left;
  color: #000;
}

.header-wrap .button-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  background: url(../images/icon_prev.png) no-repeat center;
  background-size: 55px 55px !important;
  z-index: 1000;
}

.header-wrap .button-home {
  position: absolute;
  top: 0;
  right: 40px;
  width: 55px;
  height: 55px;
  background: url(../images/icon_home.png) no-repeat center;
  background-size: 55px 55px !important;
  z-index: 1000;
}

.header-wrap .button-slidemenu {
  position: absolute;
  top: 0;
  right: 0px;
  width: 55px;
  height: 55px;
  background: url(../images/icon_hamburger.png) no-repeat center;
  background-size: 55px 55px;
  z-index: 1000;
}

.header-wrap.main {
  background: #4868e1;
}

.header-wrap.main .h1 {
  color: #FFF;
}

.header-wrap.main .h1 .logo-img {
  display: inline-block;
  margin-right: 3px;
  width: 93px;
  font-size: 1px;
  color: transparent;
  background: url(../images/logo_sh_wh.png) no-repeat;
  background-size: contain;
  background-position: 0 45%;
  vertical-align: top;
}

.header-wrap.main .button-home {
  position: absolute;
  top: 0;
  right: 40px;
  width: 55px;
  height: 55px;
  background: url(../images/icon_home_wh.png) no-repeat center;
  background-size: 55px 55px !important;
  z-index: 1000;
}

.header-wrap.main .button-slidemenu {
  position: absolute;
  top: 0;
  right: 0px;
  width: 55px;
  height: 55px;
  background: url(../images/icon_hamburger_wh.png) no-repeat center;
  background-size: 55px 55px !important;
  z-index: 1000;
}

/* header main 전용 */
.button-wrap.button-mt {
  margin-top: 30px;
}

.button-area {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.button-area.bottom {
  margin-bottom: 50px;
}

.button-area li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 50px;
  font-size: 18px;
}

.button-confirm {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background: #4868e1;
  border-radius: 50px;
}

.button-confirm:hover {
  color: #fff;
  background: #4868e1;
  opacity: 0.8;
}

.jconfirm.jconfirm-my-theme .jconfirm-bg {
  background: rgba(0, 0, 0, 0.6);
}

.jconfirm.jconfirm-my-theme .jconfirm-holder {
  padding: 18px;
}

.jconfirm.jconfirm-my-theme .jconfirm-box {
  padding: 0;
  border-radius: 0;
}

.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-content-pane {
  margin-bottom: 0;
  vertical-align: middle;
}

.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-content {
  padding: 30px 18px;
  text-align: center;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button {
  margin: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #fff;
  border-radius: 0;
  background: #4868e1;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button:hover {
  color: #fff;
  background: #4868e1;
  cursor: pointer;
  opacity: 0.8;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button.button-cancel {
  background: #999;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button.button-cancel:hover {
  background: gray;
  opacity: 0.8;
}

@-webkit-keyframes jconfirm-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes jconfirm-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body[class*=jconfirm-no-scroll-] {
  overflow: hidden !important;
}

.jconfirm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  font-family: inherit;
  overflow: hidden;
}

.jconfirm .jconfirm-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.jconfirm .jconfirm-bg.jconfirm-bg-h {
  opacity: 0 !important;
}

.jconfirm .jconfirm-scrollpane {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-perspective-origin: center;
  perspective-origin: center;
}

.jconfirm .jconfirm-box {
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  outline: none;
  padding: 30px 0 0 0;
  overflow: hidden;
}

@-webkit-keyframes type-blue {
  1%, 100% {
    border-color: #3498db;
  }
  50% {
    border-color: #5faee3;
  }
}
@keyframes type-blue {
  1%, 100% {
    border-color: #3498db;
  }
  50% {
    border-color: #5faee3;
  }
}
@-webkit-keyframes type-green {
  1%, 100% {
    border-color: #2ecc71;
  }
  50% {
    border-color: #54d98c;
  }
}
@keyframes type-green {
  1%, 100% {
    border-color: #2ecc71;
  }
  50% {
    border-color: #54d98c;
  }
}
@-webkit-keyframes type-red {
  1%, 100% {
    border-color: #e74c3c;
  }
  50% {
    border-color: #ed7669;
  }
}
@keyframes type-red {
  1%, 100% {
    border-color: #e74c3c;
  }
  50% {
    border-color: #ed7669;
  }
}
@-webkit-keyframes type-orange {
  1%, 100% {
    border-color: #f1c40f;
  }
  50% {
    border-color: #f4d03f;
  }
}
@keyframes type-orange {
  1%, 100% {
    border-color: #f1c40f;
  }
  50% {
    border-color: #f4d03f;
  }
}
@-webkit-keyframes type-purple {
  1%, 100% {
    border-color: #9b59b6;
  }
  50% {
    border-color: #b07cc6;
  }
}
@keyframes type-purple {
  1%, 100% {
    border-color: #9b59b6;
  }
  50% {
    border-color: #b07cc6;
  }
}
@-webkit-keyframes type-dark {
  1%, 100% {
    border-color: #34495e;
  }
  50% {
    border-color: #46627f;
  }
}
@keyframes type-dark {
  1%, 100% {
    border-color: #34495e;
  }
  50% {
    border-color: #46627f;
  }
}
.jconfirm .jconfirm-box.jconfirm-type-animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.jconfirm .jconfirm-box.jconfirm-blue {
  border-top: solid 7px #3498db;
  -webkit-animation-name: type-blue;
  animation-name: type-blue;
}

.jconfirm .jconfirm-box.jconfirm-green {
  border-top: solid 7px #2ecc71;
  -webkit-animation-name: type-green;
  animation-name: type-green;
}

.jconfirm .jconfirm-box.jconfirm-red {
  border-top: solid 7px #e74c3c;
  -webkit-animation-name: type-red;
  animation-name: type-red;
}

.jconfirm .jconfirm-box.jconfirm-orange {
  border-top: solid 7px #f1c40f;
  -webkit-animation-name: type-orange;
  animation-name: type-orange;
}

.jconfirm .jconfirm-box.jconfirm-purple {
  border-top: solid 7px #9b59b6;
  -webkit-animation-name: type-purple;
  animation-name: type-purple;
}

.jconfirm .jconfirm-box.jconfirm-dark {
  border-top: solid 7px #34495e;
  -webkit-animation-name: type-dark;
  animation-name: type-dark;
}

.jconfirm .jconfirm-box.loading {
  height: 120px;
}

.jconfirm .jconfirm-box.loading:before {
  content: "";
  position: absolute;
  left: 0;
  background: white;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: 1;
}

.jconfirm .jconfirm-box.loading:after {
  opacity: 0.6;
  content: "";
  height: 30px;
  width: 30px;
  border: solid 3px transparent;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  border-radius: 50%;
  -webkit-animation: jconfirm-spin 1s infinite linear;
  animation: jconfirm-spin 1s infinite linear;
  border-bottom-color: dodgerblue;
  top: 50%;
  margin-top: -15px;
  z-index: 2;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  opacity: 0.6;
  text-align: center;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  font-size: 27px !important;
  line-height: 14px !important;
  display: none;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon:empty {
  display: none;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon .fa {
  font-size: 16px;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon .glyphicon {
  font-size: 16px;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon .zmdi {
  font-size: 16px;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon:hover {
  opacity: 1;
}

.jconfirm .jconfirm-box div.jconfirm-title-c {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #202020;
  line-height: 17px;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
  font-size: inherit;
  padding-bottom: 15px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c i {
  vertical-align: middle;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c:empty {
  display: none;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  vertical-align: middle;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title:empty {
  display: none;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane {
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: -6px;
  padding-right: 20px;
  padding-left: 20px;
  height: auto;
  -webkit-transition: height 0.4s ease-in;
  transition: height 0.4s ease-in;
  display: inline-block;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
  color: #909090;
  line-height: 16px;
  text-align: center;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content img {
  max-width: 100%;
  height: auto;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content:empty {
  display: none;
}

.jconfirm .jconfirm-box .jconfirm-buttons {
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  border-top: 1px solid #b0b0b0;
}

.jconfirm .jconfirm-box .jconfirm-buttons > button {
  margin: 0;
}

.jconfirm .jconfirm-box .jconfirm-buttons button {
  display: block;
  -ms-flex: 1;
  flex: 1;
  height: 42px;
  font-size: 13px;
  font-weight: 700;
  color: #909090;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  min-height: 1em;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  -webkit-tap-highlight-color: transparent;
  border: none;
  background-image: none;
}

.jconfirm .jconfirm-box .jconfirm-buttons button + button {
  border-left: 1px solid #b0b0b0;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-confirm {
  color: #e83d44;
  text-shadow: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.jconfirm .jconfirm-clear {
  clear: both;
}

.jconfirm.jconfirm-rtl {
  direction: rtl;
}

.jconfirm.jconfirm-rtl div.jconfirm-closeIcon {
  left: 5px;
  right: auto;
}

.jconfirm.jconfirm-white .jconfirm-bg, .jconfirm.jconfirm-light .jconfirm-bg {
  background-color: #444;
  opacity: 0.2;
}

.jconfirm.jconfirm-white .jconfirm-box, .jconfirm.jconfirm-light .jconfirm-box {
  margin: 0 auto; /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);*/ /*border-radius: 5px;*/
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-shadow: none;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default {
  box-shadow: none;
  color: #333;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default:hover, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default:hover {
  background: #ddd;
}

.jconfirm.jconfirm-black .jconfirm-bg, .jconfirm.jconfirm-dark .jconfirm-bg {
  background-color: darkslategray;
  opacity: 0.4;
}

.jconfirm.jconfirm-black .jconfirm-box, .jconfirm.jconfirm-dark .jconfirm-box {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background: #444;
  border-radius: 5px;
  color: white;
}

.jconfirm.jconfirm-black .jconfirm-box .jconfirm-buttons, .jconfirm.jconfirm-dark .jconfirm-box .jconfirm-buttons {
  float: right;
}

.jconfirm.jconfirm-black .jconfirm-box .jconfirm-buttons button, .jconfirm.jconfirm-dark .jconfirm-box .jconfirm-buttons button {
  border: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-shadow: none;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  color: white;
}

.jconfirm.jconfirm-black .jconfirm-box .jconfirm-buttons button.btn-default, .jconfirm.jconfirm-dark .jconfirm-box .jconfirm-buttons button.btn-default {
  box-shadow: none;
  color: #fff;
  background: none;
}

.jconfirm.jconfirm-black .jconfirm-box .jconfirm-buttons button.btn-default:hover, .jconfirm.jconfirm-dark .jconfirm-box .jconfirm-buttons button.btn-default:hover {
  background: #666;
}

.jconfirm .jconfirm-box.hilight.jconfirm-hilight-shake {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.jconfirm .jconfirm-box.hilight.jconfirm-hilight-glow {
  -webkit-animation: glow 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: glow 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-8px, 0, 0);
    transform: translate3d(-8px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(8px, 0, 0);
    transform: translate3d(8px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-8px, 0, 0);
    transform: translate3d(-8px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(8px, 0, 0);
    transform: translate3d(8px, 0, 0);
  }
}
@-webkit-keyframes glow {
  0%, 100% {
    box-shadow: 0 0 3px red;
  }
  50% {
    box-shadow: 0 0 30px red;
  }
}
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 3px red;
  }
  50% {
    box-shadow: 0 0 30px red;
  }
}
/*Transition rules*/
.jconfirm {
  -webkit-perspective: 400px;
  perspective: 400px;
}

.jconfirm .jconfirm-box {
  opacity: 1;
  -webkit-transition-property: all;
  transition-property: all;
}

.jconfirm .jconfirm-box.jconfirm-animation-top, .jconfirm .jconfirm-box.jconfirm-animation-left, .jconfirm .jconfirm-box.jconfirm-animation-right, .jconfirm .jconfirm-box.jconfirm-animation-bottom, .jconfirm .jconfirm-box.jconfirm-animation-opacity, .jconfirm .jconfirm-box.jconfirm-animation-zoom, .jconfirm .jconfirm-box.jconfirm-animation-scale, .jconfirm .jconfirm-box.jconfirm-animation-none, .jconfirm .jconfirm-box.jconfirm-animation-rotate, .jconfirm .jconfirm-box.jconfirm-animation-rotatex, .jconfirm .jconfirm-box.jconfirm-animation-rotatey, .jconfirm .jconfirm-box.jconfirm-animation-scaley, .jconfirm .jconfirm-box.jconfirm-animation-scalex {
  opacity: 0;
}

.jconfirm .jconfirm-box.jconfirm-animation-rotate {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.jconfirm .jconfirm-box.jconfirm-animation-rotatex {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-rotatexr {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-rotatey {
  -webkit-transform: rotatey(90deg);
  -ms-transform: rotatey(90deg);
  transform: rotatey(90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-rotateyr {
  -webkit-transform: rotatey(-90deg);
  -ms-transform: rotatey(-90deg);
  transform: rotatey(-90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-scaley {
  -webkit-transform: scaley(1.5);
  -ms-transform: scaley(1.5);
  transform: scaley(1.5);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-scalex {
  -webkit-transform: scalex(1.5);
  -ms-transform: scalex(1.5);
  transform: scalex(1.5);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-top {
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

.jconfirm .jconfirm-box.jconfirm-animation-left {
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}

.jconfirm .jconfirm-box.jconfirm-animation-right {
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

.jconfirm .jconfirm-box.jconfirm-animation-bottom {
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

.jconfirm .jconfirm-box.jconfirm-animation-zoom {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.jconfirm .jconfirm-box.jconfirm-animation-scale {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.jconfirm .jconfirm-box.jconfirm-animation-none {
  visibility: hidden;
}

/* 로딩중 */
.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.loading-area {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.loading-area img {
  width: 100%;
}

.loading-area img.loading {
  -webkit-animation: spin 3s infinite linear;
  -o-animation: spin 3s infinite linear;
  -moz-animation: spin 3s infinite linear;
  animation: spin 3s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gift-title {
  padding: 30px 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.gift-title.first {
  padding-top: 0;
}

.mygift {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 16px;
  border: 1px solid #e5e5e5;
}

.mygift + .mygift {
  border-top: 0;
}

.mygift .left {
  font-size: 12px;
  color: #848484;
}

.mygift .right {
  font-weight: bold;
}

.change-notice {
  margin-top: 20px;
  font-size: 12px;
  color: #db4e69;
}

.change-gift-wrap .radio-style {
  position: relative;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.change-gift-wrap .radio-style + .radio-style {
  border-top: none;
}

.change-gift-wrap .radio-style input {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: none;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.change-gift-wrap .radio-style input + label {
  display: block;
  padding: 15px;
  cursor: pointer;
}

.change-gift-wrap .radio-style input:checked + label {
  color: #00907f;
  background: url(../images/icon_selected.png) no-repeat;
  background-size: 14px 11px;
  background-position: top 50% left 20px;
}

.change-end-wrap {
  padding: 30px 18px;
  text-align: center;
  background: #ebebeb;
}

.change-end-wrap .icon {
  margin-bottom: 16px;
}

.change-end-wrap .icon .icon-success {
  display: inline-block;
  width: 44px;
  height: 44px;
  background: url(../images/icon_success.png) no-repeat center;
  background-size: contain;
  vertical-align: middle;
}

.change-end-wrap .text1 {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

/* 메인 멤버십서비스 영역 */
.mainlist-wrap {
  padding: 30px 0;
}

.mainlist-wrap .maintitle {
  margin-bottom: 10px;
  font-weight: bold;
}

.mainlist-wrap .maintitle2 {
  color: #333;
  font-weight: 700;
  line-height: 1.3;
}

.mainlist-wrap .mainlist-type1 {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 5px;
  padding: 0 18px;
}

.mainlist-wrap .mainlist-type1 h3 {
  color: #222;
  font-size: 18px;
  padding-bottom: 10px;
}

.mainlist-wrap .mainlist-type1 .mbs-wrap {
  white-space: nowrap;
  position: relative;
  clear: both;
}

.mainlist-wrap .mainlist-type1 .mbs-wrap li.mbs-content {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 49%;
  height: 49%;
  margin: 0 2% 1.5% 0;
}

.mainlist-wrap .mainlist-type1 .mbs-wrap li.mbs-content:last-child {
  margin: 0 0 1% 0;
}

.mainlist-wrap .mainlist-type1 .mbs-wrap .mbs-content a {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  display: inline-block;
  box-shadow: -10px 0px 10px -10px rgba(0, 0, 0, 0.4);
}

.mainlist-wrap .mainlist-type1 .mbs-wrap .mbs1 a {
  background: #ff6165;
}

.mainlist-wrap .mainlist-type1 .mbs-wrap .mbs2 a {
  background: #f46e0a;
}

.mainlist-wrap .mainlist-type1 .mbs-wrap .mbs3 a {
  background: #7c42e7;
}

.mainlist-wrap .mainlist-type1 .mbs-wrap .mbs4 a {
  background: #14aec7;
}

.mainlist-wrap .mainlist-type1 .mbs-wrap .mbs-content a img {
  width: 50%;
  height: 50%;
  margin: 10% 25% 2.5% 25%;
  text-align: center;
}

.mainlist-wrap .mainlist-type1 .mbs-wrap .mbs-content a span {
  display: block;
  font-size: 14px;
  color: #FFF;
  font-weight: 900;
  text-align: center;
  padding-bottom: 15%;
}

/* 200918 메인 툴팁 추가 */
.main-tooltip {
  position: absolute;
  top: -8%;
  right: -20%;
  padding: 0.5em 0.5em 0.6em 0.8em;
  z-index: 100;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #182028;
  letter-spacing: -0.55px;
}

.main-tooltip .tooltip-wrap {
  position: relative;
  top: 0;
  left: 0;
}

.main-tooltip .tooltip-wrap .main-copy {
  color: #94ff59;
  font-size: 0.8rem;
  font-weight: 700;
  vertical-align: middle;
  line-height: 1.5;
}

.main-tooltip .tooltip-wrap .point-copy {
  color: #182028;
  background: #94ff59;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.3em 0.5em;
  border-radius: 10px;
  text-align: center;
}

.main-tooltip .tooltip-wrap .tooptip-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/icon_close_tooltip.png) no-repeat center;
  background-size: 24px;
  z-index: 99;
}

.main-tooltip::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  right: 30%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #182028;
  transform: rotate(180deg);
}

@media screen and (max-width: 321px) {
  .main-tooltip {
    top: -7%;
    right: -24%;
  }
  .main-tooltip .tooltip-wrap .main-copy {
    font-size: 0.75rem !important;
  }
  .main-tooltip .tooltip-wrap .point-copy {
    font-size: 0.65rem !important;
  }
}
@media screen and (min-width: 500px) {
  .main-tooltip {
    right: -4%;
  }
}
@media screen and (min-width: 768px) {
  .main-tooltip {
    top: -5%;
    right: -5%;
  }
}
@media screen and (min-width: 1024px) {
  .main-tooltip {
    top: -3%;
    right: -3%;
    vertical-align: text-bottom;
    padding: 0.7em 0.5em 0.8em 0.8em;
  }
  .main-tooltip .tooltip-wrap .main-copy {
    font-size: 1rem;
    margin-left: 3px;
  }
  .main-tooltip .tooltip-wrap .point-copy {
    font-size: 0.875rem;
    border-radius: 20px;
  }
}
.mainlist-wrap .mainlist-type3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-top: 5px;
  padding: 18px 18px 24px 18px;
  border-bottom: 5px solid #f2f2f2;
  clear: both;
}

.mainlist-wrap .mainlist-type3 .mainlist-div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.mainlist-wrap .mainlist-type3 .mainlist-div .icon img {
  width: 54px;
  height: 54px;
  padding: 6px;
}

.mainlist-wrap .mainlist-type4 {
  margin-top: 20px;
  padding: 0 18px;
}

.mainlist-wrap .mainlist-type4 h3 {
  color: #222;
  font-size: 18px;
  padding-bottom: 15px;
}

.mainlist-wrap .mainlist-type4 .couponlist-wrap .coupon-issue {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mainlist-wrap .mainlist-type4 .couponlist-wrap .coupon-issue .couponissue-link {
  padding: 10px 15px;
  background: #fff;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.2);
  line-height: 40px;
  color: #222;
  font-weight: 700;
  font-size: 14px;
  height: 60px;
  display: block;
  margin-bottom: 15px;
  vertical-align: middle;
  border-radius: 10px;
  background: url(../images/icon_link.png) no-repeat;
  background-size: 24px 24px;
  background-position: top 50% right 10px;
}

/* 메인 할인권 영역 */
.couponlist-wrap .coupon-issue .couponissue-link .category {
  font-size: 11px !important;
  color: #15c3bb;
  text-align: right;
  margin-right: 5px;
  font-weight: 100;
  display: inline-block;
  line-height: 1.5em;
  padding: 2px 6px;
}

.couponlist-wrap .coupon-issue .couponissue-link .category.mart {
  color: #15c3bb;
  border: 1px solid #15c3bb;
  border-radius: 12px;
}

.couponlist-wrap .coupon-issue .couponissue-link .category.online {
  color: #3b92ce;
  border: 1px solid #3b92ce;
  border-radius: 12px;
}

.couponlist-wrap .coupon-issue .couponissue-link .category.convenience {
  color: #d1678a;
  border: 1px solid #d1678a;
  border-radius: 12px;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo {
  display: inline-block;
  margin-left: 5px;
  font-size: 1px;
  color: transparent;
  vertical-align: top;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.emart {
  width: 38px;
  background: url(../images/common/logo_emart.png) no-repeat;
  background-size: contain;
  background-position: 0 45%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.kshopping {
  width: 44px;
  background: url(../images/common/logo_kshopping.png) no-repeat;
  background-size: contain;
  background-position: 0 13px;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.homeplus {
  width: 60px;
  background: url(../images/common/logo_homeplus.png) no-repeat;
  background-size: contain;
  background-position: 0 48%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.lottemart {
  width: 60px;
  background: url(../images/common/logo_lottemart.png) no-repeat;
  background-size: contain;
  background-position: 0 48%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.online_11st {
  width: 38px;
  background: url(../images/common/logo_11st.png) no-repeat;
  background-size: contain;
  background-position: 0 50%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.cu {
  width: 32px;
  background: url(../images/common/logo_cu.png) no-repeat;
  background-size: contain;
  background-position: 0 50%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.gs25 {
  width: 32px;
  background: url(../images/common/logo_gs25.png) no-repeat;
  background-size: contain;
  background-position: 0 50%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.forshop {
  width: 19px;
  background: url(../images/common/logo-forshop.png) no-repeat;
  background-size: contain;
  background-position: 0 18.5%;
  line-height: 10px;
  margin-top: 9px;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.lotteOn {
  width: 70px;
  background: url(../images/common/logo_lotteOn.png) no-repeat;
  background-size: contain;
  background-position: 0 50%;
}

/* 공지사항 */
.notice_wrap {
  padding-bottom: 60px;
  position: relative;
}

.notice_wrap .notice_quantity {
  color: #666;
  margin-bottom: 10px;
}

.notice_wrap .notice_quantity .quantity {
  font-weight: 700;
  color: #0B1965;
}

.notice_list li {
  border-bottom: 1px solid #ddd;
  background: white url(../images/icon_arrow_notice.png) no-repeat;
  background-position: top 50% right 20px;
  background-size: auto 20px;
  position: relative;
}

.notice_list li:nth-child(1) {
  border-top: 1px solid #ddd;
}

.notice_list li a {
  display: block;
  padding: 0 40px 16px 0;
  position: relative;
}

.notice_list li a .title {
  color: #333;
  font-size: 14px;
  margin-bottom: 0.3rem;
  font-weight: 700;
  line-height: 1.4;
}

.notice_list li a .title .new {
  position: absolute;
  top: 0;
  right: 20px;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 0;
  text-indent: 100%;
  overflow: hidden;
  color: transparent;
  background: url(../images/icon_notice_new.png) no-repeat;
  background-size: contain;
}

.notice_list li a .date {
  font-size: 0.75rem;
  color: #7d7d81;
}

.notice_more {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px 0 0 0;
  position: relative;
}

.notice_more .btn_more {
  width: 160px;
  height: 32px;
  font-size: 0.875rem;
  text-align: center;
  color: #7d7d81;
}

.notice_more .btn_more span {
  padding-right: 20px;
  background: url(../images/icon_link_more.png) no-repeat right;
  background-size: 12px auto;
}

.notice_view_title {
  padding: 16px 20px;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}

.notice_view_title .title {
  display: inline-block;
  margin-bottom: 0.3rem;
  font-weight: 700;
  line-height: 1.4;
}

.notice_view_title .date {
  font-size: 0.75rem;
  color: #7d7d81;
}

.notice_view_content {
  background-color: #f6f6f6;
  border-top: 1px solid #e1e1e1;
  padding: 20px 15px 10px 15px;
  font-size: 13px;
  position: relative;
  color: #666;
}

.tabs-wrap {
  width: 100%;
  margin: 0 auto;
}

.tabs-contents {
  width: 100%;
  margin: 0 auto;
}

.tabs-menu {
  width: 100%;
  margin: 0;
}

.tabs-menu li {
  display: inline-block;
  zoom: 1;
  width: 33.3%;
  margin: 0 auto;
  padding: 12px 0;
  background: #fff;
  cursor: pointer;
  position: relative;
  text-align: center;
  color: #909090;
}

.tabs-menu .active-tab {
  background: #fff;
  border-bottom: 3px solid #202020;
  color: #202020;
  font-weight: 700;
}

/* 쿠폰 바코드 */
.barcode-area {
  margin-top: 20px;
}

.cpn-barcode-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  min-width: 280px;
}

.cpn-barcode-box .barcode {
  float: left;
  clear: both;
  padding: 0 10px;
  overflow: auto;
  height: auto;
}

.cpn-barcode-box .right {
  float: right;
}

.cpn-barcode-box .barcode + * {
  clear: both;
}

.cpn-barcode-box .barcode div {
  float: left;
  height: 50px;
}

.cpn-barcode-box .barcode .bar1 {
  border-left: 1px solid black;
}

.cpn-barcode-box .barcode .bar2 {
  border-left: 2px solid black;
}

.cpn-barcode-box .barcode .bar3 {
  border-left: 3px solid black;
}

.cpn-barcode-box .barcode .bar4 {
  border-left: 4px solid black;
}

.cpn-barcode-box .barcode .space0 {
  margin-right: 0;
}

.cpn-barcode-box .barcode .space1 {
  margin-right: 1px;
}

.cpn-barcode-box .barcode .space2 {
  margin-right: 2px;
}

.cpn-barcode-box .barcode .space3 {
  margin-right: 3px;
}

.cpn-barcode-box .barcode .space4 {
  margin-right: 4px;
}

.cpn-barcode-box .barcode label {
  clear: both;
  display: block;
  padding-top: 6px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
}

.coupon-top-wrap {
  padding: 30px 18px;
  text-align: center;
}

.coupon-top-wrap .logo img {
  height: 30px;
}

.coupon-top-wrap .cpnimg img {
  height: 100px;
}

.coupon-top-wrap .cpnimg.lotte img {
  height: 120px;
}

.coupon-top-wrap .text-notice {
  margin-top: 20px;
  font-weight: bold;
  color: #db4e69;
}

.coupon-top-wrap .cost {
  padding-top: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.coupon-top-wrap .costinfo {
  padding-top: 5px;
  font-size: 12px;
  color: #848484;
}

.coupon-top-wrap .date {
  padding-top: 15px;
  font-size: 13px;
  color: #4868e1;
}

.coupon-top-wrap .date2 {
  margin-top: 15px;
  font-size: 12px;
}

.coupon-top-wrap .date2 span {
  display: inline-block;
  margin-right: 4px;
  padding: 3px 10px;
  min-width: 140px;
  min-height: 22px;
  color: #fff;
  background: #848484;
  vertical-align: middle;
  line-height: 1.6;
}

.coupon-top-wrap .subimg {
  padding-top: 10px;
}

.coupon-top-wrap .subimg img {
  width: 102px;
}

.coupon-top-wrap .coupon-button {
  margin-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.coupon-top-wrap .coupon-button .coupon-viewlarge {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 200px;
  height: 40px;
  font-weight: bold;
  color: #fff;
  background: #4868e1;
  border-radius: 20px;
}

.coupon-top-wrap .coupon-button .coupon-viewlarge:hover {
  background: #4868e1;
  opacity: 0.8;
}

.coupon-top-wrap .coupon-button .coupon-viewlarge span:before {
  content: "";
  margin-right: 6px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../images/icon_large.png) no-repeat center;
  background-size: contain;
  vertical-align: middle;
}

.coupon-top-wrap .coupon-button .coupon-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 60px;
  color: #fff;
  background: #4868e1;
  border-radius: 30px;
  cursor: pointer;
}

.coupon-top-wrap .pin-area {
  padding-top: 20px;
}

.coupon-top-wrap .pin-area .coupon-pin + .coupon-pin {
  margin-top: 10px;
}

.coupon-top-wrap .pin-area textarea {
  height: 22px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  resize: none;
  border: 0;
  background: 0 0;
  outline: 0;
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
}

.coupon-top-wrap .pin-area button {
  padding: 0 10px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  color: #fff;
  background: #666;
  border-radius: 2px;
}

.coupon-top-wrap .used {
  margin-top: 20px;
  padding: 12px;
  font-size: 12px;
  background: #fafafb;
}

.coupon-top-wrap .used .info {
  margin-top: 10px;
  color: #848484;
}

.coupon-top-wrap .notice {
  margin-top: 20px;
  font-size: 12px;
  color: #db4e69;
}

.coupon-useguide-wrap {
  background: #fff;
  border-top: 1px solid #efefef;
}

.coupon-useguide-wrap .coupon-inner-wrap {
  margin: 0 auto;
  padding: 30px 18px;
  max-width: 1024px;
  line-height: 1.4;
}

.coupon-useguide-wrap .coupon-inner-wrap .title {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: 900;
  text-align: left;
  color: #000;
}

.coupon-useguide-wrap .coupon-inner-wrap .title02 {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 900;
  text-align: left;
  color: #000;
}

.coupon-useguide-wrap .coupon-inner-wrap li {
  margin: 5px 0;
}

.coupon-useguide-wrap .coupon-inner-wrap .info-text {
  padding-left: 1em;
  text-indent: -1em;
}

.coupon-useguide-wrap .coupon-inner-wrap .info-text p {
  margin: 5px 0;
  font-weight: 400;
  color: #666;
  font-size: 0.8rem;
}

.coupon-useguide-wrap .coupon-inner-wrap .important {
  margin-top: 18px !important;
  font-weight: bold;
}

.barcode-modal-wrap {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  padding: 20px;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.6);
  transition: 2s;
}

.barcode-modal-wrap .barcode-modal-inner {
  position: relative;
  background: #fff;
  width: 100%;
  height: 92%;
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%) rotate(90deg);
  -o-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
  text-align: center;
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-box .logo img {
  height: 30px;
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-box .cost {
  padding: 8px 0 15px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-box .date {
  font-size: 12px;
  color: #4868e1;
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-box .cpn-barcode-box .barcode {
  -moz-transform: scaleX(1.2);
  -o-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
  transform: scaleX(1.2);
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-close {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55px;
  height: 55px;
  background: url(../images/icon_close.png) no-repeat center;
  background-size: contain;
}

div.scrollable {
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

iframe.external {
  width: 100%;
  height: 100%;
  height: 70vh;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

/* GNB 슬라이드 */
.slidemenu-wrap {
  position: fixed;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 99999;
}

.slidemenu-wrap .my-area {
  position: relative;
  padding: 60px 18px 18px 18px;
  text-align: left;
  background: #FFF;
}

.slidemenu-wrap .my-area .img {
  margin-bottom: 20px;
}

.slidemenu-wrap .my-area .img img {
  width: 32px;
}

.slidemenu-wrap .my-area .name {
  font-size: 16px;
  line-height: 1em;
  font-weight: 700;
}

.slidemenu-wrap .my-area .user_name {
  color: #4868e1 !important;
}

.slidemenu-wrap .my-area .service {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 700;
}

.slidemenu-wrap .my-area .service_join {
  color: #4868e1;
}

.slidemenu-wrap .my-area .slidemenu-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 55px;
  background: url(../images/icon_close_w.png) no-repeat center;
  background-size: 55px;
}

.slidemenu-wrap .gnb-wrap {
  padding-top: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.slidemenu-wrap .gnb-wrap .gnb .gnb-link {
  border-top: 1px solid #e1e1e1;
  padding: 24px 18px;
  display: block;
  font-size: 16px;
  color: #000;
  background: url(../images/icon_link.png) no-repeat;
  background-size: 24px 24px;
  background-position: top 50% right 11px;
  font-weight: 600;
}

/* list style */
[class*=list-type-] {
  margin-top: 0.3em;
  padding-left: 1em;
}

[class*=list-type-] > li {
  position: relative;
  padding-left: 0.3em;
}

[class*=list-type-] > li .list-none {
  list-style: none !important;
}

[class*=list-type-] > li .list-none::before {
  content: "";
}

[class*=list-type-] > li + li {
  margin-top: 0.2em;
}

.list-type-none {
  padding-left: 1em;
}

.list-type-none > li {
  text-indent: -1em;
}

.list-type-disc > li {
  text-indent: -0.8em;
}

.list-type-disc > li::before {
  content: "∙";
  margin-right: 0.3em;
}

.list-type-circle > li {
  text-indent: -0.8em;
}

.list-type-circle > li::before {
  content: "o";
  margin-right: 0.4em;
  font-size: 8px;
}

.list-type-square > li {
  list-style: square;
}

.list-type-dash > li {
  text-indent: -0.8em;
}

.list-type-dash > li::before {
  content: "-";
  margin-right: 0.4em;
}

.list-type-decimal > li {
  list-style: decimal;
}

.list-type-decimal-zero > li {
  list-style: decimal-leading-zero;
}

.list-type-lower-roman > li {
  list-style: lower-roman;
}

.list-type-upper-roman > li {
  list-style: upper-roman;
}

.list-type-lower-greek > li {
  list-style: lower-greek;
}

.list-type-lower-latin > li {
  list-style: lower-latin;
}

.list-type-upper-latin > li {
  list-style: upper-latin;
}

.list-type-armenian > li {
  list-style: armenian;
}

.list-type-georgian > li {
  list-style: georgian;
}

.list-type-lower-alpha > li {
  list-style: lower-alpha;
}

.list-type-upper-alpha > li {
  list-style: upper-alpha;
}

[class*=list-counter-] {
  padding-left: 0.8em;
  counter-reset: list;
  counter-reset: section;
}

[class*=list-counter-] > li {
  position: relative;
  padding-left: 0.3em;
  line-height: 1.3;
  list-style: none;
}

[class*=list-counter-] > li + li {
  margin-top: 0.2em;
}

.list-counter-lower-alpha > li {
  text-indent: -0.8em;
}

.list-counter-lower-alpha > li:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
}

.list-counter-decimal > li {
  position: relative;
  text-indent: -0.6em;
}

.list-counter-decimal > li:before {
  content: counter(section) ".";
  counter-increment: section;
  display: inline-block;
  margin-right: 0.4em;
  font-size: inherit;
  text-align: right;
  line-height: 16px;
  vertical-align: middle;
}

.list-counter-decimal-circle {
  padding-left: 18px;
}

.list-counter-decimal-circle > li {
  position: relative;
  text-indent: -18px;
}

.list-counter-decimal-circle > li:before {
  content: counter(section);
  counter-increment: section;
  display: inline-block;
  margin-top: -1px;
  margin-right: 3px;
  padding: 0;
  width: 14px;
  height: 14px;
  font-size: 9px;
  text-align: center;
  text-indent: 0;
  line-height: 14px;
  border: 1px solid #999;
  border-radius: 50%;
  vertical-align: middle;
}

/* 메인 배너 영역 */
.mainvisual {
  position: relative;
}

.mainvisual .slick-slide {
  height: auto;
}

.mainvisual img {
  width: 100%;
}

.mainvisual .slick-dots {
  position: absolute;
  right: 10px;
  top: 10px;
}

.mainvisual .slick-dots li {
  display: inline-block;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  font-size: 0;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.4);
}

.mainvisual .slick-dots li button {
  font-size: 0;
  line-height: 0;
}

.mainvisual .slick-dots li.slick-active {
  width: 18px;
  background: #FFF;
}

.mainvisual .slick-arrow {
  display: none !important;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before {
  content: "";
  display: table;
}

.slick-track:after {
  content: "";
  display: table;
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* 200622 포샵 이벤트 Slide 추가 */
.contents-wrap .evtSlide {
  width: 100%;
}

.contents-wrap .evtSlide a {
  width: 100%;
}

.contents-wrap .evtSlide img {
  display: block;
  width: 100%;
}

.contents-wrap .evtSlide .slick-counter {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.4);
  padding: 3px 0;
  width: 4em;
  text-align: center;
  border-radius: 2em;
  color: #FFF;
  font-size: 0.75rem;
}

.contents-wrap .evtSlide .slick-counter .current {
  font-weight: 800;
}

/* 이용약관 */
.terms-wrap {
  padding: 30px 18px;
  line-height: 1.4;
}

.terms-wrap .header {
  margin-top: -30px;
  margin-bottom: 18px;
}

.terms-wrap .header .subject {
  font-size: 16px;
  color: #000;
}

.terms-wrap h2 {
  margin: 20px 0 10px;
}

.terms-wrap ol li, .terms-wrap ul li {
  margin: 5px 0;
  color: #848484;
}

/* 서비스 소개 */
.svcinfo-wrap .svcinfo-top {
  height: auto;
  padding: 18px;
}

.svcinfo-wrap .svcinfo-top:before {
  content: "";
  display: table;
}

.svcinfo-wrap .svcinfo-top:after {
  content: "";
  display: table;
  clear: both;
}

.svcinfo-wrap .svcinfo-top .logo {
  float: left;
}

.svcinfo-wrap .svcinfo-top .contact-area {
  float: right;
  padding-bottom: 4px;
}

.svcinfo-wrap .svcinfo-top .contact {
  display: table;
  font-size: 12px;
  border: 1px solid #eee;
}

.svcinfo-wrap .svcinfo-top .contact p {
  display: table-cell;
  padding: 8px 10px;
  text-align: center;
  vertical-align: middle;
}

.svcinfo-wrap .svcinfo-top .contact p + p {
  border-left: 1px solid #eee;
}

.svcinfo-wrap .svcinfo-top .text-area {
  clear: both;
}

.svcinfo-wrap .svcinfo-top .text-area .text-large {
  margin-top: 10px;
  font-size: 18px;
  color: #000;
}

.svcinfo-wrap .svcinfo-top .text-area .text-normal {
  margin-top: 10px;
  font-size: 12px;
}

.svcinfo-wrap .svcinfo-member {
  padding: 20px;
  font-size: 12px;
  text-align: center;
  background: #EBF1F5;
}

.svcinfo-wrap .svcinfo-member span {
  white-space: nowrap;
}

.svcinfo-wrap .svcinfo-member strong {
  font-weight: bold;
  text-decoration: underline;
}

.svcinfo-detail {
  padding: 18px;
  font-size: 12px;
}

.svcinfo-detail .detail-area + .detail-area {
  margin-top: 20px;
}

.svcinfo-detail .subject {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}

.svcinfo-detail .subject img {
  vertical-align: middle;
}

.svcinfo-detail p, .svcinfo-detail ul, .svcinfo-detail li {
  margin: 4px 0;
  line-height: 1.3;
}

.svcinfo-detail .detail-title {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
  font-weight: bold;
  border-bottom: 1px solid #333;
}

.svcinfo-detail .detail-inner-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-pack: space-between;
}

.svcinfo-detail .detail-inner-wrap .detail-inner {
  width: 49%;
}

.logii-coupon-wrap {
  background: #f2f2f2;
}

.steplist-guide {
  margin: 2px 0 20px 0;
}

.steplist-guide > li {
  position: relative;
  border: 1px solid #e9e9e9;
  background: #fff;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 1.5em;
}

.steplist-guide > li .step {
  color: #4868e1;
  font-weight: 900;
  position: absolute;
  left: 12px;
  font-size: 0.8rem;
}

.steplist-guide > li .text {
  color: #5B5C65;
  padding-left: 60px;
  font-weight: 400;
  font-size: 0.8rem;
}

/* PageTop-button */
.btn-top {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../images/icon_top.png) 50% 50% no-repeat;
  background-size: cover;
  text-indent: -99999px;
  position: fixed;
  bottom: 4.2rem;
  right: 1rem;
  z-index: 99998;
}

.contents-wrap {
  padding-top: 55px;
  padding-bottom: 52px;
  min-height: 240px;
  background: #fff;
}

.contents-wrap.main {
  padding-bottom: 0;
}

.contents-wrap.no-top {
  padding-top: 0;
}

.contents-wrap .title {
  margin: 20px 0 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.contents-wrap .title.first {
  margin-top: 0;
}

.contents-wrap .subtop-wrap img {
  width: 100%;
}

.contents-wrap .mt {
  margin-top: 20px;
  color: #848484 !important;
}

.contents-wrap .inner-wrap {
  margin: 0 auto;
  padding: 30px 18px 10px 18px;
  max-width: 1024px;
  line-height: 1.4;
}

.contents-wrap .inner-wrap.no-top {
  padding-top: 0;
}

.contents-wrap .inner-wrap h2 {
  color: #000;
  font-size: 1.5rem;
  padding: 30px 0 15px 0;
}

.contents-wrap .inner-wrap h2.first {
  padding-top: 0;
}

.contents-wrap .inner-wrap p {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.7em;
}

.contents-wrap .inner-wrap p.last {
  padding-bottom: 20px;
}

.contents-wrap .inner-wrap .subtitle {
  margin: 20px 0;
  color: #000;
}

.contents-wrap .inner-wrap ul[class*=list-type-] li, .contents-wrap .inner-wrap ol[class*=list-type-] li {
  margin: 10px 0;
  line-height: 1.5;
  color: #666;
}

.contents-wrap .detail {
  color: #666;
}

.contents-wrap .inner-wrap p .point {
  color: #4868e1;
}

.contents-wrap .inner-wrap p.notice {
  margin-top: 1rem;
}

/* 서비스 변경안내 */
.changeServiceInfo-wrap .accordion-table {
  width: 100%;
  border-top: 2px solid #000;
}

.changeServiceInfo-wrap .accordion-table tr.on th {
  background: #f6f6f6 url(../images/icon_pageUp2.png) no-repeat;
  background-size: 18px 10px;
  background-position: right 12px top 50%;
  border-bottom: none;
}

.changeServiceInfo-wrap .accordion-table th {
  padding: 13px;
  color: #666;
  text-align: left;
  font-weight: 400;
  background: url(../images/icon_pageDown2.png) no-repeat;
  background-size: 18px 10px;
  background-position: right 12px top 50%;
  cursor: pointer;
  border-bottom: 1px solid #dae6eb;
}

.changeServiceInfo-wrap .accordion-table td {
  color: #666;
  display: block;
  line-height: 1.5;
}

.changeServiceInfo-wrap .accordion-table td dl {
  padding: 13px 20px;
  border-bottom: 1px solid #dae6eb;
}

.changeServiceInfo-wrap .accordion-table td dd {
  margin: 0 0 5px 0.7rem;
}

.changeServiceInfo-wrap .accordion-table td dd:last-child {
  margin-bottom: 0;
}

/* 2022-07-22 메인 레이어팝업 추가 
.layerPopup {
	position:fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: table;
	width: 100%;
	height: 100vh;
}

.layerPopup .overlay {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
}

.layerPopup .inner {
	position: relative;
	top:0;
	z-index: 10;
	width: 100%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
}

.layerPopup .inner .box {
	vertical-align: middle;
	background-color: #fff;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
	width: 90%;
	margin:0 auto;

}

.layerPopup .inner .box > dl {
	margin-bottom: 30px;
}

.layerPopup .inner .box > dl dt {
	font-size: 15px;
	font-weight: bold;
	margin-bottom:5px
}

.layerPopup .inner .box > dl dd {
	font-size: 13px;
}

.layerPopup .inner .box p {
	font-weight: bold;
	color:#4868e1;

}

.layerPopup .inner .box ul li {
	display: inline-block;
	font-size: 12px;
}

.layerPopup .inner .box ul li:last-child {
	float: right;
}
.layerPopup .inner .box .scroll {
	width: 100%;
	height:150px;
	overflow-y: auto;
	margin-bottom:15px;
	border-top:2px solid #999;
}
.layerPopup .inner .box table {
	width: 100%;
	margin:5px auto
}

.layerPopup .inner .box table tbody tr th {
	width: 80px;
	vertical-align: middle;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

.layerPopup .inner .box table tbody tr td {
	box-sizing: border-box;
	padding: 5px 10px;
	border-bottom: 1px solid #e1e1e1;
}

.layerPopup .inner .box table tbody tr td b{
	margin-bottom:5px;
	display: block;
	font-size: 13px;
}

.layerPopup .inner .box span {
	font-size: 12px;
}


.layerPopup .inner .box .btn-box {
	width: 40px;
	height: 40px;
	position: absolute;
	top:0;
	right:0;
}

.layerPopup .inner .box .btn-box:before {
	content: "";
	display: block;
	width: 2px;
	height: 20px;
	background-color: #000;
	transform: rotate(43deg);
	position: absolute;
	top:10px;
	right:20px;
	border-radius: 50%;
}


.layerPopup .inner .box .btn-box:after {
	content: "";
	display: block;
	width: 2px;
	height: 20px;
	background-color: #000;
	transform: rotate(-43deg);
	position: absolute;
	top:10px;
	right:20px;
	border-radius: 50%;
}
*/
/*230321 레이어 팝업 */
.popWrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.bgOverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.conWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

.conWrap > * {
  position: absolute;
}

.topWrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topWrap > p.popTitle {
  width: 90%;
  height: 60px;
  text-align: center;
  overflow: hidden;
}

.topWrap > p.popTitle img {
  width: 100%;
  max-width: 400px;
  max-height: 60px;
  vertical-align: middle;
  margin-top: 5px;
}

button.btnClose {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background: url("../images/icon_close_b.png") no-repeat center/100%;
}

.imgWrap {
  margin: 70px auto 0;
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 340px;
  overflow: hidden;
}

.imgWrap > img {
  width: 300px;
  vertical-align: middle;
}

.btnWrap {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: #4868e1;
}

.btnWrap > a {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  line-height: 30px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.fred {
  color: #f00 !important;
}

/*팝업*/
#popup {
  z-index: 99999;
  background: #e7f5f6;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  width: 80%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-sizing: border-box;
}
#popup .btnWrap {
  position: relative;
  width: 100%;
  height: 45px;
  background: #e7f5f6;
  border-bottom: 1px solid #ccc;
  box-sizing: content-box;
}
#popup .btnWrap > button {
  position: absolute;
}
#popup .btnWrap > button:nth-of-type(1) {
  left: 0;
  font-size: 16px;
  text-align: left;
  text-indent: 20px;
  line-height: 45px;
}
#popup .btnWrap > button:nth-of-type(2) {
  right: 5px;
  font-size: 18px;
  width: 45px;
  height: 45px;
  background: transparent;
  color: #fff;
}
#popup .area img {
  width: 100%;
}
#popup .area img:hover {
  opacity: 1 !important;
}
#popup .area h2 {
  font-size: 30px;
  margin-bottom: 25px;
}
#popup .area .contentWrap {
  line-height: 1.5;
  margin-bottom: 25px;
  font-size: 16px;
}
#popup .area .box {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  font-size: 14px;
}
#popup .area .box li {
  margin: 5px 0;
}
#popup .area .box li.indent {
  padding-left: 50px;
}
#popup .area .box li.logo_vp {
  text-align: center;
}
#popup .area .box li.logo_vp img {
  width: 40%;
  margin-top: 10px;
}

.btnClose {
  width: 90%;
  height: 45px;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  color: #6959f9;
  border: 1px solid #6959f9;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;
  border-radius: 30px;
}

.btnClose:active, .btnClose:hover {
  color: #6959f9;
  border: 1px solid #6959f9;
}

.coupon-wrap .subimg {
  text-align: center;
}
.coupon-wrap .subimg img {
  width: 170px;
}

.regiWrap {
  display: none;
}

#cpnBtn {
  margin: 0;
}

.express-wrap {
  padding: 10px;
}

.lineBnr img {
  width: 100%;
  cursor: pointer;
}

/*NEW 할인권 리스트*/
/*온라인 : */
#cpnList {
  margin-top: 10px;
  padding: 20px 18px;
  background: #fff;
}
#cpnList h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
#cpnList ul > li {
  width: 100%;
  border: 1px solid transparent;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: url("../images/icon_link_1.png") no-repeat top 50% right 10px/30px;
}
#cpnList ul > li:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#cpnList ul > li a {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
#cpnList ul > li a > span.cateOn {
  border: 1px solid #00a0e9;
  padding: 3px 5px;
  border-radius: 20px;
  font-size: 11px;
  color: #00a0e9;
  margin-right: 10px;
}
#cpnList ul > li a > span.cateMart {
  border: 1px solid #13b5b1;
  padding: 3px 5px;
  border-radius: 20px;
  font-size: 11px;
  color: #13b5b1;
  margin-right: 10px;
}
#cpnList ul > li a > span.cateCvc {
  border: 1px solid #eb6877;
  padding: 3px 5px;
  border-radius: 20px;
  font-size: 11px;
  color: #eb6877;
  margin-right: 10px;
}