
<div class="footer-cscenter">
    <p class="cscenter">
        <span class="csblack">신한카드 쇼핑케어 고객센터</span>
        <span class="callcenter"><a href="tel:1899-0927" class="call_tel">&#9742; 1899-0927</a></span>
        <span class="txtbr">(평일 09:00~18:00, 주말 및 공휴일 제외)</span>
    </p>
</div>
