<header class="header-wrap">
    <h1 class="h1"><span class="logo-img">신한카드</span> 쇼핑 케어</h1>
    <a href="cpnMain.html" class="button-home"><span class="screen-out">메인으로</span></a>
    <button id="asideOpen" class="button-slidemenu">
        <span class="screen-out">슬라이드메뉴 열기</span>
    </button>        
</header>


<aside id="asidebar" class="slidemenu-wrap">
    <div class="my-area">
        <p class="img" role="img">
            <img src="../images/icon_slidemenu.png">
        </p>
        <p class="name"><span class="user_name">홍길동</span> 님의</p>
        <p class="service">
            쇼핑케어 가입일은
            <span class="txtbr">
                <span class="service_join">
                    <span class="year">2020</span>년
                    <span class="month">5</span>월
                    <span class="date">14</span>일
                </span>
            입니다.
            </span>
        </p>
        <button id="asideClose" class="slidemenu-close">
            <span class="screen-out">슬라이드메뉴 닫기</span>
        </button>
    </div>
    <nav class="gnb-wrap">
        <ul class="gnb">
            <li><a href="svcNotice.html" class="gnb-link">공지사항</a></li>
            <li><a href="svcInfo.html" class="gnb-link">서비스 안내</a></li>								
            <li><a href="termAgree.html" class="gnb-link">이용약관</a></li>
            <li><a href="svcFAQ.html" class="gnb-link">FAQ</a></li>
        </ul>
    </nav>
</aside>

<script>

    // slidemenu
    $('#asideOpen').click(function(){
        $('#asidebar').stop().animate({ right: "0%"}, 300);
    });
    $('#asideClose').click(function(){
        $('#asidebar').stop().animate({ right: "-120%"}, 300);
	});    
</script>